{% import 'Macro.html' as macro %}
<!DOCTYPE html>
<html>
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37048260 = new Ya.Metrika({ id:37048260, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37048260" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<head>
	<title>Veeamchan</title>
	<link rel="shortcut icon" href="static/favicon.png" type="image/png">
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/font-awesome-4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/ministyle.css" />
    <script src="../static/miniscript.js"></script>

    <script type="text/javascript" src="../static/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap-filestyle-1.2.1/bootstrap-filestyle.js"></script>

</head>
<body>
<!--Здарова, а чего в исходники полез? Сдеанонить кого решил?-->
<center><h3>Добро пожаловать. Снова.</h3></center>
<br>
<center><a id="newThread" class="linksbutton" onclick=ShowForm("form");>New thread</a></center>
<form action="/" method="post" enctype="multipart/form-data" id="form" style="display: none">
	<input type="text" name="subject" class="input-subject" maxlength="20" />
	<textarea type="text" rows="6" name="body" id="body" placeholder="Ваше сообщение. Максимальная длина 1000." maxlength="1000" required></textarea>
	{{ macro.markup_buttons() }}
	<div class="button-group clear">
		<div class="file-input-wrapper">
			<input type="file" name="file" class="filestyle" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*, .webm" required>
        </div>
		<button type="submit" class="submit-button">Create thread</button>
	</div>
</form>
<br>
{% if data: %}
{% for thread in data: %}
<article class="post clear">
	{% if thread["content_type"] == "video/webm": %}
	<video src="/thumb/{{thread["image_id"]}}" class="video" preload="metadata" controls></video>
	{% else: %}
	<a href="{{thread["post_id"]}}">
		<img src="/thumb/{{thread["image_id"]}}" class="image">
	</a>
	{% endif %}	
	<h3 class="header"><a href="/{{thread["post_id"]}}">#{{thread["post_id"]}}: {{thread["subject"]}}</a>
	<span class="post-id"><a href="{{thread["post_id"]}}"><span class="counter">{{thread["bump_counter"]}} </span><i class="fa fa-comment"></i></a></span></h3>
	{% autoescape false %}
	<p class="paragraph">{{thread["body"]}}</p>
	{% endautoescape %}
</article>
{% endfor %}
{% endif %}
</body>
<script>$(":file").filestyle();</script>
</html>
